html,body,.weather{
    height: 100%;
  }


body{
    background: url(../images/背景3.jpg) no-repeat center center;
    background-size: cover;
}

.weather{
  overflow-y: auto;
}

.nav{
  position: sticky;
  top: 0;
  z-index: 2;
}

.system-nav{
  height: 24px;
}

.weather-nav{
  height: .44rem;
  padding-left: .1rem;
  padding-right: .1rem;
}
.weather-box{
  position: relative;
  z-index: 1;
  height: calc(100% - 24px - .44rem);
  overflow-y: auto;
}
.location-icon{
  width: .2rem;
  height: .2rem;
  background: url("../images/location.png") no-repeat center center;
  background-size: .2rem .2rem;
  margin-top: .12rem;
}

.location-city{
  width: .8rem;
  font-size: .16rem;
  line-height: .44rem;
  margin-left: .1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.search-box{
  width: calc(100% - 1.58rem);
  height: .28rem;
  margin-top: .08rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .1) 0%, rgba(255, 255, 255, .5) 100%);
  margin-left: .2rem;
  border-radius: .14rem;
  padding-left: .14rem;
  padding-right: .14rem;
}

.search-ipt{
  display: block;
  width: calc(100% - .2rem);
  height: .28rem;
  color: #fff;
}

.search-icon{
  width: .2rem;
  height: .2rem;
  background: url("../images/search.png") no-repeat center center;
  background-size: .2rem .2rem;
  margin-top: .04rem;
}

.current-weather{
  color: #fff;
  margin: .3rem auto;
  padding: .3rem;
  box-shadow: 0px 0px 16px 2px rgba(255, 255, 255, .55) inset;
  width: 180px;
  height: 180px;
}
.rq{
  width: 100%;
  margin: 0 auto;
}

.week{
  text-align: center;
}

.tem-box{
  margin: .1rem 0;
  width: 1.32rem;
  margin: 0 auto;
  text-align: center;
}

.tem{
  width: 1.32rem;
  font-size: .6rem;
  height: .7rem;
}

.weather-status{
  height: .3rem;
  width: 100%;
  margin-bottom: 0.1rem;
}

.weather-status-text{
  width: 1.5rem;
  margin: 0 auto;
}

.qing{
  
  width: 1.3rem;
  height: .3rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .3rem .3rem;
  margin-left: 0.1rem;
}

.air-quality{
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0.1rem;
}
.air-quality>span{
  margin-right: 0.1rem; 
}
.air-quality>span:first-child{
  margin-right: 0;
}
.air-quality>span:last-child{
  margin-right: 0;
}
.wind-direction{
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
.wind-direction>span{
  margin-right:0.1rem;
}
.wind{
  margin-right: .2rem;
}

.hours-box{
  color: #fff;
}

.hours-weather{
  overflow-x: auto;
  padding: .1rem;
  text-align: center;
}

.hours-box-title{
  height: .32rem;
  font-size: .16rem;
  line-height: .32rem;
  padding: 0 .1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.hours-weather>ul{
  width: 28.8rem;
}

.hours-weather>ul>li{
  float: left;
  width: 1.2rem;
}

.hours-weather>ul>li>div{
  margin-bottom: .08rem;
}

.hours-weather>ul>li>div:last-child{
  margin-bottom: 0;
}

.hours-weather-icon{
  width: .2rem;
  height: .2rem;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .2rem .2rem;
}

.future-weather{
  margin: .3rem 0;
  color: #fff;
}

.future-weather-title{
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.future-weather-box{
  overflow-x: auto;
  padding: .1rem;
  text-align: center;
}
.future-weather-box>ul{
  width: 28.8rem;
}
.future-weather-box>ul>li{
  float: left;
  width: 1.2rem;
}
.future-weather-box>ul>li>div{
  margin-bottom: .08rem;
}
.future-weather-box>ul>li>div:last-child{
  margin-bottom: 0;
}
.future-weather-box>ul>li>div:nth-child(2){
  height: 0.42rem;
}

.future-weather-icon{
  display: block;
  width: .2rem;
  height: .2rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: .2rem .2rem;
}

.search-ipt::-webkit-input-placeholder{
  color: rgba(255, 255, 255, .5);
}
